# Python
__pycache__/
*.py[cod]

# Virtual environment
pytorch-env/
venv/
.venv/

# Dataset
dataset/

# Generated outputs
outputs/
rl_env_offline/outputs/

# Checkpoints
*.pt
*.pth
*.onnx
*.xmodel
models/

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db